body {
  background-color: #898a8e;
  background-size: cover;
}

.post-container,
.form-container {
  background-color: rgb(255, 255, 255);
}

.form-container {
  margin-bottom: 2%;
}

.post-image {
  padding-top: "56.25%";
  background-color: "rgba(0, 0, 0, 0.5)";
  background-blend-mode: "darken";
  max-width: 100%;
}
